In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

# Class objects in python, a primer

In [11]:
# A variable stored in an instance or class is called an attribute.
# A function stored in an instance or class is called a method.

class Dog:

    # Initializer / Instance Attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # instance method
    def description(self):
        return "{} is {} years old".format(self.name, self.age)

    # instance method
    def speak(self, sound):
        return "{} says {}".format(self.name, sound)

# Instantiate the Dog object
mikey = Dog("Mikey", 6)

In [12]:
# call our methods and attributes
print(mikey.name)
print(mikey.description())
print(mikey.speak("Gruff Gruff"))

Mikey
Mikey is 6 years old
Mikey says Gruff Gruff

** Python libraries in general are collections of functions and methods that allow us to perform lots of actions without writing as much of our own code **

# what is pandas 

* The pandas library is written specifically for, and one of the most widely used tools for, data manipulation and analysis in Python. Put another way, the functions Pandas supports are integral to understanding, formatting, and preparing our data. 
* Pandas takes data (a python object like a dictionary, a local file like a CSV, a remote file or database, ) and creates a Python object with rows and columns called a dataframe
* It is built on another library, Numpy, and uses other public libraries (like Matplotlib for plotting)
* Pandas has a unique syntax

### Pandas is the library we'll use to perform Exploratory Data Analysis.

In [17]:
ames = pd.read_csv('./data/housing.csv',usecols=['PoolQC','MSZoning','GrLivArea','OverallQual','SalePrice'])

In [18]:
# a pandas table of multiple columns is a dataframe
print(type(ames))
ames.head(2)

<class 'pandas.core.frame.DataFrame'>

  MSZoning  OverallQual  GrLivArea PoolQC  SalePrice
0       RL            7       1710    NaN     208500
1       RL            6       1262    NaN     181500

In [19]:
# a single pandas column is a series, a different data type
print(type(ames.SalePrice))
ames.SalePrice.head(1)

<class 'pandas.core.series.Series'>

0    208500
Name: SalePrice, dtype: int64

In [21]:
# count of zoning values
ames.MSZoning.value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [25]:
# most homes do not have pool quality scores
print(str(ames.shape[0])+ ' rows in dataset')
print(str(ames.PoolQC.isnull().sum())+ ' properties with null PoolQC values')

1460 rows in dataset
1453 properties with null PoolQC values

### If our goal is to accurately predict prices for houses (so that we can sell them for as large a profit as possible) mock up your idea of a process for exploring the data

#### also, identify what phase(s) of the data science life cycle we could be in

#### refer to data dictionary - data_description.txt - in data folder

In [3]:
Average price per zone
Average price pool and non pool
Within each zone, pool and non pool
Group living area and run a histogram
Regression of Quality and Sales Price
Regression of LivingArea and Sales Price
Subset Zone and then regress living area and sales price
Mins and Max;
Create scatter plot/visualizations and of sales value

Cleaning data

SyntaxError: invalid syntax (<ipython-input-3-f6f0d8de4a96>, line 1)