In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [128]:
dataset = '../predict-west-nile-virus/train.csv'
sample_train = pd.read_csv(dataset)

In [32]:
train.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [34]:
len(train.NumMosquitos.unique())

50

In [35]:
len(train.Street.unique())

128

In [36]:
len(train.Block.unique())

64

In [39]:
len(train.AddressAccuracy.unique())

4

In [40]:
train.AddressAccuracy.unique()

array([9, 8, 5, 3])

In [41]:
len(train.Species.unique())

7

In [42]:
train.Species.unique()

array(['CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS', 'CULEX PIPIENS',
       'CULEX SALINARIUS', 'CULEX TERRITANS', 'CULEX TARSALIS',
       'CULEX ERRATICUS'], dtype=object)

In [48]:
train.Address

0        4100 North Oak Park Avenue, Chicago, IL 60634,...
1        4100 North Oak Park Avenue, Chicago, IL 60634,...
2        6200 North Mandell Avenue, Chicago, IL 60646, USA
3          7900 West Foster Avenue, Chicago, IL 60656, USA
4          7900 West Foster Avenue, Chicago, IL 60656, USA
                               ...
10501        5100 West 72nd Street, Chicago, IL 60638, USA
10502      5800 North Ridge Avenue, Chicago, IL 60660, USA
10503    1700 North Ashland Avenue, Chicago, IL 60622, USA
10504     7100 North Harlem Avenue, Chicago, IL 60631, USA
10505        4200 West 65th Street, Chicago, IL 60621, USA
Name: Address, Length: 10506, dtype: object

In [66]:
sample_train['OnMyWayToZip'] = sample_train['Address'].str[-10:]
sample_train['Zip'] = sample_train["OnMyWayToZip"].str[:5]

In [68]:
sample_train.OnMyWayToZip

0        60634, USA
1        60634, USA
2        60646, USA
3        60656, USA
4        60656, USA
            ...
10501    60638, USA
10502    60660, USA
10503    60622, USA
10504    60631, USA
10505    60621, USA
Name: OnMyWayToZip, Length: 10506, dtype: object

In [77]:
len(sample_train.Zip.unique())

51

In [74]:
sample_train.groupby['Zip']

TypeError: 'method' object is not subscriptable

In [84]:
len(sample_train.Trap.unique())

136

In [104]:
len(sample_train.Block.unique())

64

In [105]:
len(sample_train.Zip.unique())

51

In [86]:
sample_train.groupby(['Trap'])['WnvPresent'].sum().sort_values(ascending=False)

Trap
T900     66
T115     41
T002     18
T138     16
T003     14
         ..
T075      0
T094B     0
T072      0
T071      0
T001      0
Name: WnvPresent, Length: 136, dtype: int64

In [92]:
sample_train.groupby(['Trap'])['WnvPresent'].sum().sort_values(ascending=False)

Trap
T900     66
T115     41
T002     18
T138     16
T003     14
         ..
T075      0
T094B     0
T072      0
T071      0
T001      0
Name: WnvPresent, Length: 136, dtype: int64

In [98]:
sample_train.groupby(['Trap'])['NumMosquitos'].count()

Trap
T001     15
T002    185
T003    122
T004     12
T005     14
       ...
T236     33
T237      3
T238      7
T900    750
T903    140
Name: NumMosquitos, Length: 136, dtype: int64

In [100]:
sample_train.groupby(['Zip'])['Trap'].count().sort_values(ascending=False)

Zip
o, IL    1508
60666     750
60617     734
60634     502
60638     455
60646     393
60609     375
60643     321
60608     300
60639     265
60622     238
60655     237
60651     232
60632     230
60623     223
60618     214
60614     207
60707     185
60630     183
60803     183
60631     171
60637     166
60612     157
60656     153
60607     151
60106     140
60629     137
60652     126
60659     117
60619     113
60633     112
60620     111
60654     110
60625      98
60636      91
60641      89
60626      85
60642      85
60649      83
60018      80
60645      69
60621      62
60660      56
60613      54
60611      29
60605      26
60628      25
60640      21
60615      20
60647      17
60827      17
Name: Trap, dtype: int64

In [101]:
sample_train.groupby(['Zip'])['WnvPresent'].sum().sort_values(ascending=False)

Zip
o, IL    79
60666    66
60634    34
60617    28
60631    24
60646    22
60609    21
60638    21
60643    19
60639    17
60656    16
60651    15
60630    14
60655    11
60652    11
60622    11
60614    10
60618    10
60106    10
60632    10
60659     9
60633     9
60803     8
60629     7
60621     7
60707     7
60607     7
60608     6
60018     6
60637     5
60623     5
60620     4
60625     4
60660     4
60612     3
60619     3
60641     2
60628     1
60649     1
60613     1
60636     1
60642     1
60827     1
60645     0
60647     0
60654     0
60611     0
60605     0
60640     0
60626     0
60615     0
Name: WnvPresent, dtype: int64

In [102]:
sample_train.groupby(['Block'])['WnvPresent'].sum().sort_values(ascending=False)

Block
10    111
12     41
22     29
11     26
58     20
     ...
34      0
29      0
27      0
18      0
98      0
Name: WnvPresent, Length: 64, dtype: int64

In [107]:
sample_train.groupby(['Street'])['Block'].count().sort_values(ascending=False)

Street
 W OHARE AIRPORT       750
 S DOTY AVE            542
 S STONY ISLAND AVE    347
 S ASHLAND AVE         266
 N OAK PARK AVE        216
                      ...
 S RACINE AVE            8
 W 77TH ST               7
 S LONGWOOD DR           5
 W 85TH ST               3
 S HAMLIN AVE            2
Name: Block, Length: 128, dtype: int64

In [108]:
sample_train.groupby(['Block'])['Street'].count().sort_values(ascending=False)

Block
10    1722
11     736
12     605
22     500
13     345
      ...
27      17
80      13
34       7
55       5
29       3
Name: Street, Length: 64, dtype: int64

In [110]:
sample_train['test'] = sample_train['Latitude']

sample_train

In [113]:
sample_train.drop("test",1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,OnMyWayToZip,Zip
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,"60634, USA",60634
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,"60634, USA",60634
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,"60646, USA",60646
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,"60656, USA",60656
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,"60656, USA",60656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10501,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,1,"60638, USA",60638
10502,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,5,0,"60660, USA",60660
10503,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,1,0,"60622, USA",60622
10504,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,5,0,"60631, USA",60631
10505,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,1,0,"60621, USA",60621

In [114]:
sample_train.groupby(['Block'])['WnvPresent'].sum().sort_values(ascending=False)

Block
10    111
12     41
22     29
11     26
58     20
     ...
34      0
29      0
27      0
18      0
98      0
Name: WnvPresent, Length: 64, dtype: int64

In [130]:
mask = sample_train.WnvPresent == 0
sample_train[sample_train.WnvPresent == 0]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10500,2013-09-26,"3900 North Springfield Avenue, Chicago, IL 606...",CULEX PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,T228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,3,0
10502,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,5,0
10503,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,1,0
10504,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,5,0
10505,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,1,0

In [131]:
sample_train[mask]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10500,2013-09-26,"3900 North Springfield Avenue, Chicago, IL 606...",CULEX PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,T228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,3,0
10502,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,5,0
10503,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,1,0
10504,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,5,0
10505,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,1,0