In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
# Load the data
house = pd.read_csv('./housing.csv')
house.iloc[:1,:14]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm

In [3]:
house.iloc[:1,74:]

  MiscFeature  MiscVal  MoSold  YrSold SaleType SaleCondition  SalePrice
0         NaN        0       2    2008       WD        Normal     208500

**Your goals:**
1. You work for a real estate company interested in using data science to determine the best properties to buy and re-sell. Perform any cleaning, feature engineering, and EDA you deem necessary to train a model and evaluate its ability to predict sale price on the test houses.
    * Remove any houses that are not residential from the dataset.
    * Evaluate your predictions with root mean squared error.

## What's your plan of attack for approaching this exercise? Think about about the data science workflow and what kind of story we want to tell about or model

### getting dummies

In [4]:
subset = house[['Id','Neighborhood','SalePrice']]
subset.Neighborhood.value_counts().head()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Name: Neighborhood, dtype: int64

In [5]:
# reference documentation
subset = pd.get_dummies(subset, columns=['Neighborhood'],drop_first=True)
subset.iloc[:1,:8]

,Id,SalePrice,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor
0,1,208500,0,0,0,0,1,0

In [6]:
OverallCond (internal)
X OverallQual (external)
X YearBuilt 
YearRemodel
X GrLivArea + TotalBsmtSF
X KitchenQual
X Bedroom

Target:
X SalePrice

1stFirSqft, 2ndFirSqft, BsmtSqft, GRLivingArea, TotRmsAboveGrd, BedroomAboveGround, (create our own column for age of the house), SalesCondition, KitchenQual

SyntaxError: invalid syntax (<ipython-input-6-d4af00ea4ac0>, line 2)