---
<a id='coffee_preference'></a>

# Practice Control Flow on the Coffee Preference Data Set

## Solutions for 1-9 located in python-dtypes-controlflow-solution notebook

### 1) Load Coffee Preference data from file and print.

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write") and assigns this opened file to `f`. 

We can then use the built-in `.readlines()` function to split the CSV file on newlines and assign it to the variable `lines`.

In [1]:
with open('./assets/datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through `lines` and print them out.

#### Print out just the `lines` object by typing "lines" in a cell and hitting `enter`.

---

### 2) Remove the remaining newline `'\n'` characters with a `for` loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

---

### 3) Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains our data's column names.

---

### 4) Split the header and data strings on commas.

To split a string on the comma character, use the built-in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

---

### 5) Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and data list.

Removing "Timestamp" from the header can be done with list functions or with slicing. To remove the header column from the data, use a `for` loop.

Print out the new data object with the timestamps removed.

---

### 6) Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that contains the numeric ratings converted from strings to floats and the empty fields (which are empty strings, '') replaced with the `None` object.

Use a nested `for` loop (a `for` loop within another `for` loop) to get the job done. You will likely need to use `ifâ€¦ else` conditional statements as well.

Print out the new data object to make sure you've succeeded.

---

### 7) Count the `None` values per person and put the counts in a dictionary.

Use a `for` loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

---

### 8) Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with the coffee brand names as keys and their average rating as the values.

Remember that the average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

---

### 9) Create a list containing only the people's names.

## Bonus: 

### write a function that takes an airport code as input and returns the airports listed from nearest to furthest from the input airport

In [3]:
airports = [['CDG',49.0128,2.5500],['CHC',-43.4894,172.5320],['DYR',64.7349,177.7410],['EWR',40.6925,-74.1687],
 ['HNL',21.3187,-157.9220],['OME',64.5122,-165.4450],['ONU',-20.6500,-178.7000],['PEK',40.0801,116.5850]]

### Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining (via: https://leetcode.com/problems/trapping-rain-water/description/)

<img src="https://assets.leetcode.com/uploads/2018/10/22/rainwatertrap.png">

Input: height = [0,1,0,2,1,0,1,3,2,1,2,1]
Output: 6
Explanation: The above elevation map (black section) is represented by array [0,1,0,2,1,0,1,3,2,1,2,1]. In this case, 6 units of rain water (blue section) are being trapped.

In [2]:
def count_water(array):
    # your code here

In [4]:
print(count_water([4,2,0,3,2,5]))
print(count_water([0,1,0,2,1,0,1]))
print(count_water([0,1,0,2,1,3,0]))
print(count_water([0,1,0,2,1,0,1,3,2,1,2,1]))

9
2
2
6