<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [4]:
# Enter student names here:
student_names = ['Aniket', 'Vinayak', 'Vivek', 'Sam', 'Matthew', 'Alaptagin', 'Peter']

---

### 1) What are the types of the following variables?

In [1]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [3]:
# A
int
float
list
dictionary
tuple
dictionary
boolean
boolean
string

---

### 2) What is the difference between a "mutable" and an "immutable" object?

A: mutable can change, immutable cannot

---

### 3) Print the `student_names` list.

In [5]:
print(student_names)

['Aniket', 'Vinayak', 'Vivek', 'Sam', 'Matthew', 'Alaptagin', 'Peter']

---

### 4) Print the names of the first and last students on the list.

In [9]:
print(student_names[-1])
print(student_names[0])

Peter
Aniket

---

### 5) Print the first five names in the `student_names` list.

In [9]:
student_names[:5]

['Aniket', 'Vinayak', 'Vivek', 'Sam', 'Matthew']

---

### 6) Combine the third and 6th student names into a single string, separated by a space. Assign that string to a variable.

In [12]:
student_names[2]+' & '+student_names[5]

'Vivek & Alaptagin'

---

### 7) Append an animal to the list of animals.

In [10]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [11]:
animals.append('bird')
animals

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'bird']

---

### 8) Print the length of the `animals` list.

In [12]:
len(animals)

7

---

### 9) Divide the length of the fifth animal by the second.

In [19]:
len(animals[4])//len(animals[1])

2

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [13]:
#A:
float(len(animals[4])//len(animals[1]))

2.0

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [17]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [20]:
#A:
animals.extend(numbers)
animals

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'bird',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [18]:
#A:
newlist = []
newlist = animals + numbers
newlist

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'bird',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [27]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']
names[0]

'doug'

In [28]:
counter = 0
print(names)
for name in names:
    if name == "kiefer":
        names.remove(name)
        names.insert(counter,"Vinny")
    counter += 1

names

['doug', 'billy', 'kiefer', 'kian', 'sam']

['doug', 'billy', 'Vinny', 'kian', 'sam']

---

### 13) Sort the following list.

In [43]:
mix = [12.999, 12, 1, 2, 3]

In [47]:
mix.sort()
mix

[1, 2, 3, 12, 12.999]

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [36]:
#A:
mix[0]
mix[-1]

12.999

---

### 15) Find the index of `12` in the list.

In [38]:
#A:
mix.index(12)

3

---

### 16) Reverse the `mix` list.

In [56]:
#A:
mix = [12.999, 12, 1, 2, 5, 3]
print(mix)
mix.sort()
print(mix)
mix2 = mix.reverse()
print(mix)
print(mix2)
print(mix)

[12.999, 12, 1, 2, 5, 3]
[1, 2, 3, 5, 12, 12.999]
[12.999, 12, 5, 3, 2, 1]
None
[12.999, 12, 5, 3, 2, 1]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [57]:
#A:
var = mix[-1]

var

1

---

### 18) Count the number of times `0` appears in the following list.

In [60]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [61]:
#A:
counter = 0
for i in binary:
    if i == 0:
        counter +=1
    else:
        pass
print(counter)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [64]:
#A:
SFdict = {'sunset':94122,
'presidio':94129,
'soma':94105,
'marina':94123}
SFdict

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [67]:
var = SFdict["soma"]
var

94105

---

### 21) Get the keys out of the dictionary.

In [68]:
for item in SFdict:
    print(item[0])

s
p
s
m

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [29]:
#A:

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [30]:
#A:

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [3]:
small = {'outer_richmond':94121, 'dogpatch':94107}
large = {'test':94121, 'test_2':94107}

In [4]:
large.update(small)
large

{'dogpatch': 94107, 'outer_richmond': 94121, 'test': 94121, 'test_2': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [33]:
#A:

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [34]:
#A: